#img {
  display: block;
  margin: auto;
  height: 128px;
  width: 128px;
  padding: 2rem;
}

#canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Ensures the canvas doesn't block interactions with other elements */
  z-index: 9999; /* Ensures the canvas is on top */
}

h1 {
  text-align: center;
}

body {
  background-color: #379fc8;
  background-image: url('images/datefinder_img1.png')
}

.restaurant {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
      }
.restaurant img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
      }
